{
  "extends": "stylelint-config-standard-scss",
  "plugins": ["stylelint-prettier"],
  "rules": {
    "alpha-value-notation": "number",
    "prettier/prettier": true,
    "indentation": 2,
    "string-quotes": "single",
    "selector-id-pattern": null,
    "declaration-colon-newline-after": null,
    "value-list-comma-newline-after": null,
    "no-duplicate-selectors": true,
    "color-function-notation": "legacy",
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "no-descending-specificity": null,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute", "class"]
      }
    ],
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-no-important": true,
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "value-no-vendor-prefix": true,
    "number-leading-zero": "always",
    "function-url-quotes": "always",
    "function-name-case": null,
    "value-keyword-case": null,
    "font-family-name-quotes": "always-unless-keyword",
    "comment-whitespace-inside": "always",
    "comment-empty-line-before": "always",
    "at-rule-no-vendor-prefix": true,
    "scss/no-global-function-names": null,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "ignore": ["after-comment"],
        "except": ["first-nested"]
      }
    ],
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": ["composes"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["if", "each", "include", "mixin", "composes", "extend"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
