.password-requirements {
  font-size: rem(12px);
  margin: rem(18px 0);
  color: $gray;
}

.heading-text {
  font-weight: bold;
}

.heading {
  margin: rem(0 0 8px);
}

.list {
  line-height: rem(20px);
}
